html, body {
    margin: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

form h1{
    font-size: 20px;
    color: darkblue;
}

h2{
    font-size: 17px;
    color: midnightblue;
    font-style: italic;
}

.navbar {
    height:50px;
}

.fill {
    height: calc(100vh - 50px);
}

#showConfigButton {
    margin-bottom: 50px;
    margin-left:0;
    position: absolute;
    z-index: 1000;
}

#graphContainer {
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.node circle {
    fill: #999;
}

.node text {
    font: 10px sans-serif;
}

.node--internal circle {
    fill: #555;
}

.node--internal text {
    text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.link {
    fill: none;
    stroke: #555;
    stroke-opacity: 0.4;
    stroke-width: 1.5px;
}

svg {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

div.tooltip {
    position: absolute;
    text-align: center;
    padding: 5px;
    width: 150px;
    height: 55px;
    font: 12px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis text {
    font: 10px sans-serif;
}
